<?xml version="1.0" encoding="UTF-8"?>

<!--
    Document   : beans.xml
    Created on : January 22, 2011, 7:11 PM
    Author     : gremlin
    Description:
        Purpose of the document follows.
-->

<beans xmlns="http://www.springframework.org/schema/beans"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:jaxws="http://cxf.apache.org/jaxws"
      xmlns:jaxrs="http://cxf.apache.org/jaxrs"
      xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd">

    <import resource="classpath:META-INF/cxf/cxf.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-extension-soap.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-extension-jaxrs-binding.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>

    <bean class="com.meschbach.psi.example.dprime.MemoryPrimeKB" id="PrimeKnowledgeBase"/>
    <bean class="com.meschbach.psi.example.dprime.stdwq.SingleThreadedWorkQueue" id="WorkQueue"/>

    <bean class="com.meschbach.psi.example.dprime.DPrimeService" id="coreService">
        <constructor-arg index="0" ref="PrimeKnowledgeBase"/>
        <constructor-arg index="1" ref="WorkQueue"/>
    </bean>
    <bean class="com.meschbach.psi.example.dprime.mtdwq.SpringShutdownAdapter">
        <property name="queue" ref="WorkQueue"/>
    </bean>
    <!--
    <jaxrs:server id="greeterRestService"
                  beanNames="greetingRest"
                  address="/salutator"
                  >
    </jaxrs:server>
    -->
</beans>