<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>echo-webapp</display-name>
    <context-param>
        <param-name>context_param</param-name>
        <param-value>true</param-value>
    </context-param>
    <servlet>
        <servlet-name>EchoServlet</servlet-name>
        <servlet-class>com.meschbach.psi.testing.echo.EchoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DumpInitPropsServlet</servlet-name>
        <servlet-class>com.meschbach.psi.testing.echo.DumpInitPropsServlet</servlet-class>
        <init-param>
            <param-name>servlet_init_param</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>HttpVerbServlet</servlet-name>
        <servlet-class>com.meschbach.psi.testing.echo.HttpVerbServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EchoEntity</servlet-name>
        <servlet-class>com.meschbach.psi.testing.echo.EchoEntity</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EchoServlet</servlet-name>
        <url-pattern>/EchoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DumpInitPropsServlet</servlet-name>
        <url-pattern>/DumpInitPropsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HttpVerbServlet</servlet-name>
        <url-pattern>/HttpVerbServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EchoEntity</servlet-name>
        <url-pattern>/EchoEntity</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
